---
import AuthorData from "../../components/AuthorData.astro";
import H1 from "../../components/H1.astro";

import Layout from "../../layouts/Layout.astro";
import Main from "../../layouts/Main.astro";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const post = await getEntryBySlug("posts", slug as string);
if (!post) return Astro.redirect("/404");
const { Content } = await post.render();
const author = await getEntryBySlug("authors", post.data.author);
---

<Layout title={post.data.title}>
    <Main>
        <div class="max-w-full prose prose-2xl dark:prose-invert">
            <a href={`/blog`} class="font-bold no-underline">
                &#8701; <span
                    class="prose dark:prose-invert prose-xl underline"
                >
                    Back to all Posts
                </span>
            </a>
            <H1 text={post.data.title} />
            <Image
                src={post.data.image}
                alt={post.data.title}
                format="webp"
                class="w-full rounded-2xl shadow-xl mb-6 object-top"
            />
            <Content />{
                author && (
                    <div class="mt-24">
                        <span class="text-4xl"> Author: </span>
                        <AuthorData
                            authorData={author.data}
                            slug={author.slug}
                        />
                    </div>
                )
            }
        </div>
    </Main>
</Layout>
