---
import H1 from "../components/H1.astro";
import Main from "../layouts/Main.astro";
const BlogName = "Bloggy";
// const topic = "Automobiles";
export const prerender = true;
---

<Main>
    <H1 text="About" />
    <div class="my-16 flex flex-col prose dark:prose-invert text-xl">
        <p>
            Welcome to <em>{BlogName}</em>, your go-to destination for a wide
            range of insightful articles, engaging stories, and valuable
            resources on various topics. At <em>{BlogName}</em>, we are
            committed to providing our readers with high-quality content that
            educates, entertains, and inspires.
        </p>
        <p>
            Our contributors cover an extensive array of subjects, ensuring that
            there's something for everyone. Whether you're interested in
            technology, health and wellness, lifestyle, travel, or any other
            topic under the sun, you'll find it right here at <em>{BlogName}</em
            >.
        </p>
        <p>
            Through our blog, we aim to create a welcoming and inclusive
            community where readers can explore their interests, share their
            perspectives, and connect with like-minded individuals from around
            the world. We believe in the power of knowledge and conversation to
            enrich lives and foster meaningful connections.
        </p>
        <p>
            Thank you for visiting <em>{BlogName}</em>. We're excited to have
            you join us on this journey of discovery, learning, and inspiration.
            Happy reading!
        </p>

        <div>
            <!-- <p><strong>Your Name or Blog Founder's Name</strong></p>
                <p><em>Your Position or Role</em></p> -->
            <p><em>{BlogName}</em></p>
        </div>
    </div>
</Main>
