---
import H1 from "./H1.astro";
import SocialLinks from "./SocialLinks.astro";
import type { AuthorType } from "../types";
import Avatar from "./Avatar.astro";

type Props = {
    authorData: AuthorType;
    slug?: string;
};
const { authorData, slug } = Astro.props;
---

<div
    class="flex max-md:flex-col-reverse space-y-1 justify-between items-center mb-16"
>
    <div class="order">
        {
            !!slug ? (
                <a
                    class="text-cyan-500 dark:text-cyan"
                    href={`/authors/${slug}`}
                    aria-label={`Read more about ${authorData.name}`}
                >
                    <H1
                        className="max-md:text-center text-cyan-500 dark:text-cyan"
                        text={authorData.name}
                    />
                </a>
            ) : (
                <H1 className="max-md:text-center" text={authorData.name} />
            )
        }

        <p class="max-md:text-center text-4xl max-md:text-3xl mt-0 mb-6">
            {authorData.title}
        </p>
        {
            authorData.socialLinks && (
                <SocialLinks
                    className="md:-ml-4 md:justify-start justify-center"
                    social={authorData.socialLinks}
                />
            )
        }
    </div>
    <Avatar
        author={authorData}
        className={`order-1 size-48 rounded-full ${authorData.image ? "border-4 border-black dark:border-white" : "dark:invert"}`}
    />
</div>
