---
import { Image } from "astro:assets";
import type { Author } from "../content/config";
import H1 from "./H1.astro";
import SocialLinks from "./SocialLinks.astro";

type Props = {
    authorData: Author["data"];
    slug?: string;
};
const { authorData, slug } = Astro.props;
const userImg = authorData.image ?? "/images/icons/user.svg";
---

<div
    class="flex max-md:flex-col-reverse space-y-1 justify-between items-center mb-16"
>
    <div>
        {
            slug ? (
                <a
                    class="text-cyan-500 dark:text-cyan"
                    href={`/authors/${slug}`}
                    aria-label={`Read more about ${authorData.name}`}
                >
                    <H1
                        className="max-md:text-center text-cyan-500 dark:text-cyan"
                        text={authorData.name}
                    />
                </a>
            ) : (
                <H1 className="max-md:text-center" text={authorData.name} />
            )
        }

        <p class="max-md:text-center text-4xl max-md:text-3xl mt-0 mb-6">
            {authorData.subtitle}
        </p>
        {
            authorData.social && (
                <SocialLinks
                    className="md:-ml-4 md:justify-start justify-center"
                    social={authorData.social}
                />
            )
        }
    </div>
    <Image
        src={userImg as string}
        alt={authorData.name}
        width={240}
        height={240}
        class={`size-60 rounded-full ${authorData.image ? "border-4 border-black dark:border-white" : "dark:invert"}`}
    />
</div>
