---
import { Image } from "astro:assets";
import SocialLinks from "./SocialLinks.astro";
import type { AuthorType } from "../types";
type Props = {
    author: AuthorType;
};
const { author } = Astro.props;
---

<article
    class="flex flex-col justify-between items-center p-10 overflow-hidden rounded-lg border border-cyan-500/20 bg-white dark:bg-zinc-900 shadow shadow-cyan-500 hover:shadow-xl hover:shadow-cyan-500 dark:shadow hover:dark:shadow-xl hover:dark:shadow-cyan-500 dark:shadow-cyan-300"
>
    <a
        href={`/authors/${author.username}`}
        aria-label={`Read more about ${author.name}`}
    >
        {/* @ts-ignore */}
        <Image
            loading={"lazy"}
            src={author.image ?? "/images/icons/user.svg"}
            alt={author.name ?? "Author Image"}
            width={200}
            height={200}
            format="webp"
            class=`size-40 mb-6 border-2 border-black rounded-full object-cover ${!!author.image ? "dark:border-white" : "dark:invert"}`
        />
    </a>

    <a
        href={`/authors/${author.username}`}
        class="text-4xl text-center prose dark:prose-invert mb-2 font-semibold inline-block"
    >
        {author.name}
    </a>

    <p class="prose dark:prose-invert mb-6 text-center text-2xl line-clamp-2">
        {author.title}
    </p>
    <SocialLinks social={author.socialLinks} />
</article>
