---
import { Image } from "astro:assets";
import type { Post } from "../content/config";

type Props = {
    post: Post;
};

const { post } = Astro.props;
---

<article
    class="flex flex-col justify-between overflow-hidden rounded-xl shadow-lg hover:shadow-2xl"
>
    <a
        href={`/blog/${post.slug}`}
        aria-label={`Read more about ${post.data.title}`}
        class="overflow-hidden"
    >
        <Image
            loading={"lazy"}
            src={post.data.image}
            alt={post.data.title}
            width={600}
            height={600 / 1.5}
            format="webp"
            class="aspect-[600/450] rounded-t-xl duration-300 hover:scale-110"
        />
    </a>

    <div class="flex flex-col justify-between p-4">
        <div class="">
            <!-- <CategoryList categories={post.data.categories} /> -->
        </div>

        <a
            href={`/blog/${post.slug}`}
            class="text-4xl prose dark:prose-invert mb-4 font-semibold inline-block"
        >
            {post.data.title}
        </a>

        <p class="prose dark:prose-invert text-2xl mb-5 line-clamp-2">
            {post.body}
        </p>

        <!-- {
      author ? (
        <a
          href={`/author/${author.slug}`}
          class="text-zinc-900 text-2xl font-bold"
        >
          {author.data.name}
        </a>
      ) : null
    } -->

        <span
            class="prose dark:prose-invert text-xl w-full flex justify-between"
        >
            {post.data.date}
            <a
                class="prose dark:prose-invert text-lg text-right"
                href=`/authors/${post.data.author}`
            >
                {post.data.author}
            </a>
        </span>
    </div>
</article>
