---
import { Image } from "astro:assets";

type Props = {
    social?: {
        platform: string;
        link: string;
    }[];
    className?: string;
};
const { social, className } = Astro.props;
---

<div
    class={`${className} flex flex-wrap divide-x divide-zinc-950 dark:divide-zinc-50`}
>
    {
        social?.map(({ platform, link }, _index, all) => (
            <a
                class="px-4 text-xl flex items-center"
                href={link}
                target="_blank"
            >
                <Image
                    src={`/images/icons/${platform}.svg`}
                    alt={platform}
                    width={24}
                    height={24}
                    class="m-0 mr-1 dark:invert"
                />
                <span
                    class={
                        all.length > 3
                            ? "hidden"
                            : "hidden min-[460px]:max-[768px]:block xl:block"
                    }
                >
                    {platform}
                </span>
            </a>
        ))
    }
</div>
