---
import Tag from "./Tag.astro";
import { sentenceCase } from "@/utils/helpers";
type Props = {
    tags: {
        value: string;
        label: string;
    }[];
    title?: string;
    field?: string;
    justifyCenter?: boolean;
    maxCount?: number;
    defaultLink?: string;
};

const {
    tags,
    title,
    field = "tags",
    justifyCenter,
    maxCount,
    defaultLink,
} = Astro.props;
---

<div
    class={`${title ? "gap-x-10" : ""} grid grid-cols-[auto,1fr] items-center gap-y-3 mb-4 max-lg:grid-cols-1`}
>
    {
        title && (
            <h4 class="font-bold text-3xl prose dark:prose-invert">{title}</h4>
        )
    }
    <div
        class={`flex gap-4 flex-wrap items-center ${!justifyCenter ? "justify-start" : "justify-center"}`}
    >
        {
            !maxCount ? (
                tags?.map((tag) => <Tag field={field} tag={tag} />)
            ) : (
                <>
                    {tags.slice(0, maxCount).map((tag) => {
                        return <Tag field={field} tag={tag} />;
                    })}
                    {tags.length > maxCount && (
                        <>
                            <Tag
                                field={`showAll${sentenceCase(field)}`}
                                tag={{
                                    value: "true",
                                    label: `+${tags.length - maxCount} more`,
                                }}
                                defaultLink={defaultLink}
                            />
                        </>
                    )}
                </>
            )
        }
    </div>
</div>
